body {
    background-color: #ffdde1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}
#container { text-align: center; }
.buttons { margin-top: 20px; position: relative; }
button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#yesBtn { background-color: #ff4d6d; color: white; margin-right: 20px; }
#noBtn { background-color: #808080; color: white; position: absolute; }
